@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

body {
    font-family: Roboto, sans-serif;
    margin: auto;
    max-width: 700px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #04AA6D;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 2em;
}

.text {
    text-align: justify;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#cocktails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.cocktail {
    background-color: #04AA6D;
    flex: 45%;
    flex-grow: 0;
    padding: 5px 5px;
}

.cocktailTitle,
.cocktailIngredients {
    text-align: center;
}

#map {
    height: 180px;
}